<h1>Editing comment</h1>

<% form_for(:comment,@comment,:url => post_comments_path) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', post_comment_path(@post,@comment) %> |
<%= link_to 'Back', post_comments_path(@post) %>